
*{
	box-sizing: border-box;
	font-family:  Arial, Helvetica, sans-serif;
	margin:0;
	padding:0;


}
body{
	background-color:white;
}
h1{
  margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
	height :100px;
	/*font-family: Helvetica;*/
}
p{
	  border: 1px solid black;
    
	  background-color: #A52A2A;
	  width: 95%;
	  height: 260px;
	  text-align: left;
    font-size: 16.9px;
    padding:20px;
	  margin:0px 16px 10px 0px;
	  margin-color: #A52A2A;
	  margin-right: auto;
	  margin-left: auto;    
	  color: white;

}
.p1{    
    border: 1px solid black;
	  background-color: orange;
	  /*margin-width: 19%;*/
	  height: 20px;
    text-align: center;
	  margin-left: 64.5%;
	  color: white;
    float:right;
    clear:both;
}
.p2{    
    border: 1px solid black;
    background-color: green;
    /*margin-width: 19%;*/
    height: 20px;
    text-align: center;
    margin-left: 64.5%;
    color: white;
    float:right;
    clear:both;
}
.p3{    
    border: 1px solid black;
    background-color:blue;
    /*margin-width: 19%;*/
    height: 20px;
    text-align: center;
    margin-left: 64.5%;
    color: white;
    float:right;
    clear:both;
}

.column{
	
	width: 80%
  height:20%;
	/*text-align: left;
  clear:rigth;*/
}

.row {
  width: 100%;
}
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    /*border: 1px solid green;
    /*padding:1px solid blue;
    margin:1px;*/
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .col-mm-1, .col-mm-2, .col-mm-3, .col-mm-4, .col-mm-5, .col-mm-6, .col-mm-7, .col-mm-8, .col-mm-9, .col-mm-10, .col-mm-11, .col-mm-12 {
    float: left;
    /*border: 1px solid green;*/
  }
  .col-mm-1 {
    width: 8.33%;
  }
  .col-mm-2 {
    width: 16.66%;
  }
  .col-mm-3 {
    width: 25%;
  }
  .col-mm-4 {
    width: 33%;
  }
  .col-mm-5 {
    width: 41.66%;
  }
  .col-mm-6 {
    width: 50%;
  }
  .col-mm-7 {
    width: 58.33%;
  }
  .col-mm-8 {
    width: 66.66%;
  }
  .col-mm-9 {
    width: 74.99%;
  }
  .col-mm-10 {
    width: 83.33%;
  }
  .col-mm-11 {
    width: 91.66%;
  }
  .col-mm-12 {
    width: 100%;
  }
}

